

* { 
2   box-sizing: border-box; 
3 } 

body {

	background-attachment: scroll;
	background-image: url("images/bluewall2.jpg");
	background-position: 100% 0;
    background-repeat:round;
}



h1 {
	background-color: #4d4d4d; /*gray*/
    color:rgb(252,166,2);/*orange*/
	font-family: 'Lobster', cursive;
	font-size: 3rem;
	margin: 0 auto 0 auto;
	padding: 15px 32px; 
	width: 1200px;
}

.australia{
	background-color:white;
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	height:1700px;
    line-height: 2.3rem;
	margin: 0 auto;
    padding:1rem 2rem;
	width: 1200px;	
}



img.sydney,.zoo {
border-radius: 25px;
margin: 10px;
}


img.tall {
	width: 25%;
	height:auto;
    float:right;
    display:inline-block;
    margin:10px;
}

 

.zoo {
	width: 300px;
	height:450px;
    float:left;
	position:relative;
	border-radius: 25px;
}

.sydney {
	width: 450px;
	height:300px;
	float:right;
	position:relative;
	border-radius: 25px;
}



.wide {
	width:33%;
	height:300px;
    border-radius:25px;
    margin:0 auto;
}

.nswgroup section {
	float:left;
	display: flex;
	margin:0 auto;
	
}

.sign {
	width:17.5%;
    margin:110px 10px 10px 10px;
}
.groupsigns section{
    float:left;
	display: flex;
	margin:0 auto;

}


