

* { 
	box-sizing: border-box; 
 } 

body {
	
    background-attachment: scroll; 
	background-color: rgb(18,139,243);/*sea blue*/ 
    background-image: url("images/backgroundshark.png");
	background-position: 100% 30%;
    background-repeat: no-repeat;
	height:auto;
    min-width: 1200px;
	max-width: 100%;

}    

h1,h2 {
	color:white;
	font-family:'Ultra', serif;
	font-size:7.2rem;
	font-weight:bold;
	line-height:8.5rem;
	margin: 100px auto 0 auto;
	padding: 5px auto 0 auto;
    text-align: center;
	top:5rem;
}

h2 {
	color:#4d4d4d; /*gray*/ 
	font-size: 3rem;
	letter-spacing: 0.2rem;
	margin: 0;
}

/* Paragraphs */
.boat {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
    line-height: 2.3rem;
	margin: 35px;
	padding: 20px 20px 0 20px;
	width: 750px;
}

/* Nautilus Explorer Link */
 .boat p a:hover { 
 color:blue; 
} 

.boat p a:link {
	color:white;
}


/* 4 images */
img.medium{
	height: 450px;
	width: 550px;
}

.sharkimage1, .sharkimage2, .sharkimage3, .sharkimage4 {
   	background-color: white;
	display: inline-block;
    float: left;
    position:relative;
    margin: 20px;
	padding: 10px;
} 
 
.groupshark {
	margin:50px auto;
	width: 1220px;	
}

.tip {

	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	line-height: 2.3rem;
	margin: 35px;
	padding: 20px;
    width: 1340px;
}