

* { 
   box-sizing: border-box; 
 } 


body {

	background-attachment: scroll;
	background-image: url("images/bluewall2.jpg");
	background-position: 100% 0;
	background-repeat:round;
}



h1 {
	
    background-color: #4d4d4d; /*gray*/ 
	color:white;
	font-family: 'Lobster', cursive;
	font-size: 3rem;
	margin: 0 auto 0 auto;
	padding: 15px 32px;
	width: 1200px;
}

h2 {
    background-color: orange;
    font-family: 'Lobster', cursive;
	font-size: 1.8rem;
	margin: -10px -25px;
    padding:10px;
}


.asia, .wicked {
	background-color:white;
	font-family: 'Roboto Slab', serif;
	font-size: 1rem;
	height:1225px;
	line-height: 1.9rem;
	margin: 0 auto;
	padding:1rem 2rem 0 2rem;
	width: 1200px;
}


img.bikes,.food {
    margin: 10px 10px 30px 10px;
    padding: 10px;
}


.bikes {
	float:left;
	height:300px;
    position:relative;
	width: 450px;
}


.food {
	float:right;
	height:300px;
	position:relative;
	width: 450px;
}

.asiagroup1{
	background-color:orange;
    display: flex;
    margin:10 auto;
    position:relative;
    width:100%;
}


img.tall {
	display:inline-block;
	float:right;
	height:auto;
    margin:10px;
    width:23.3%;
}


 .opening p a:hover { 
 color:blue; 
} 

.opening p a:link {
	color:blue;
}

.opening p a:active {
	color: blue;
}

.medium {
	border-radius: 50%;
	height: auto;
    margin: 20px;
    width:350px;
}


.xmas4 {
	display:flex;
	float: right;
	position: relative;
}

img.map {
	height:auto;
	margin:10px 0 30px 0px;
	width:30%;
}


.grouppic {
	border-radius:25px;
	height:475px;
	margin: 10px 45px;
	width:725px;
}

.group {
	display: flex;
	float:left;
	margin: 35px auto;
}